@charset "UTF-8";

/*
Base
-----------------------------------------------------*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Style */
html {
  box-sizing: border-box;
  height: 100%;
  font: medium/1.5 '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  line-height: 1;
  color: var(--text-color);
  /* リンクの文字を指定カラーにしたいxxx */
  background-color: #212121;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

*[lang='en'] {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}


/* Accessibility */
.screen-reader-text {
  position: absolute;
  overflow:hidden;
  clip: rect(1px,1px, 1px, 1px);
  width: 1px;
  height: 1px;
}


/* 色まとめ */
:root {
  --background-color: #F7DF1E;
  --text-color: #4d4d4d;
}

/* header */
.p-header  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-header__inner {
  width: 100%;
  text-align: center;
}

/* navigation */
.p-globalNav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 1.6rem;
  /* レスポンシブに対応させるxxx */
}

.p-globalNav li a {
  text-decoration: none; 
}

/* 装飾系 */
/* モディファイアの部分をまとめるxxx */
.round {
  border-radius: 20px;
  padding: .8rem 3rem;
}

.size {
  font-size: 6rem;
  padding: 1.6rem;
}

.color {
  background-color: var(--background-color);
  color: var(--text-color);
}

.question-container {
  border: solid 2px white;
  position: relative;
  margin-top: 54px;
}

.answer {
  /* display: block; */
  width: 100%;
  text-align: left;
  margin-top: 1.2rem;
  padding: 16px 0 16px 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.answer::before, .answer::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 24px;
  width: 2px;
  height: 16px;
  background-color: var(--text-color);
}

.answer::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* .answer::after {

} */

.realanswer {
  overflow: hidden;
  display: block;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .2s;
}

.open {
  height: 50px;
  border: 1px solid var(--background-color);
  border-top: none;
}

.question-wrapper {
  display: flex;
  position: absolute;
  top: -12px;
  /* この書き方は横伸び対応じゃないから良くないxxx */
  padding: 0 6px 0 6px;
  background-color: #212121;
}

.bkm-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  order: -1;
}

/* .button-hamburger:focus {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 1);
} */

.question {
  padding: 24px;
}

.txt-break {
  display: block;
  color: white;
}

.space {
  padding-left: 4px;
}

.bkm-icon {
  color: white;
}

.bkmIcon__fill {
  background-color: white;
}